@model List<KidKinder.Entities.Teacher>

@{
    ViewBag.Title = "TeacherList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">Kidkinder Admin Paneli</h5>
                    <p class="m-b-0">Uygulamanın yeni veri girişi, güncelleme, silme ve diğer işlemlerin yapıldığı sayfadır.</p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Öğretmen Listesi</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Yeni Öğretmen Girişi</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                <div class="card">
                    <div class="card-header">
                        <h5>Öğretmen Listesi Tablosu</h5>
                        <span>Öğretmenler ile ilgili işlemleri yapabileceğiniz alandır.</span>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                <li><i class="fa fa-minus minimize-card"></i></li>
                                <li><i class="fa fa-refresh reload-card"></i></li>
                                <li><i class="fa fa-trash close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ad Soyad</th>
                                        <th>Branş</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.TeacherId</td>
                                            <td>@item.NameSurname</td>
                                            <td>@item.Title</td>
                                            <td><a href="#" class="btn btn-danger">Sil</a></td>
                                            <td><a href="#" class="btn btn-success">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="#" class="btn btn-primary">Yeni Öğretmen Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>